nav {
    top: 0;
    width: 100%;
    height: 44px;
    z-index: 1000;
    display: flex;
    padding: 0 16px;
    position: fixed;
    flex-direction: row;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid rgba(142, 142, 142, 0.5);

    button {
        margin: auto;
        padding: 4px;
        width: 10%;
        border: none;
        outline: none;
        cursor: pointer;
        display: inline;
        text-align: inherit;
        text-decoration: none;
        box-sizing: border-box;
        justify-content: center;
        touch-action: manipulation;
        background-color: transparent;

    }
}

#username {
    width: 80%;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    * {
        margin: 8px 5px;
    }
}


header {
    margin: 16px 16px 24px;
    display: flex;
    flex-direction: row;

    img {
        height: 77px;
        width: 77px;
        padding: 3px;
        border: 1px solid black;
        border-radius: 50%;
    }

    section {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;

        button {
            width: 250px;
            height: 30px;
            padding: 5px 9px;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            box-sizing: border-box;
            justify-content: center;
            border: 1px solid black;
            touch-action: manipulation;
            background-color: transparent;
        }
    }
}

#bio {
    padding: 0 16px 21px;
}

#info {
    display: flex;
    padding: 12px 0;
    list-style: none;
    flex-direction: row;
    height: inherit 36px;
    justify-content: space-evenly;
    border: 1px solid rgba(142, 142, 142, 0.5);

    li {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}

#tab-list {
    height: 44px;
    display: flex;
    position: relative;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(142, 142, 142, 0.5);

    button {
        margin: auto;
        padding: 4px;
        width: 10%;
        border: none;
        outline: none;
        cursor: pointer;
        display: inline;
        text-align: inherit;
        text-decoration: none;
        box-sizing: border-box;
        justify-content: center;
        touch-action: manipulation;
        background-color: transparent;

        img {
            display: flex;
            cursor: pointer;
            box-sizing: border-box;
            justify-content: center;
        }
    }
}