<main *ngIf="true">
    <div>
        <p>
            Only you can see what you've saved
        </p>
    </div>
    <section>
        <div>
            <svg aria-label="Saved"  color="#0095f6" fill="#0095f6" height="24" role="img"
                viewBox="0 0 24 24" width="24">
                <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
            </svg>
        </div>
        <div>
            <h1>
                Save
            </h1>
        </div>
        <div>
            <p>Save photos and videos that you want to see again. No one is notified, and only you can see what you've
                saved.
            </p>
        </div>
    </section>
</main>