*{
    width: 100%;
}
mobile-header{
    top: 0;
    height: 44px;
    position: fixed;
}
main{
    padding-top:44px;
    padding-bottom: 3rem;
    height: 100%;
}
mobile-footer{
    bottom: 0;
    height: 3rem;
    position: fixed;
}