main {
    div {
        display: flex;
        flex-direction: column;

        header {
            height: 60px;
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: space-between;

            div {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 14px 14px 14px 16px;
                margin: auto 0;

                img {
                    width: 30px;
                    height: 30px;
                    border: 1px solid black;
                    border-radius: 50%;
                }

                p {
                    padding: 2px;
                    margin: auto;
                }
            }

            button {
                right: 0;
            }
        }

        main {
            height: 360px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        footer {
            display: flex;
            max-height: 118px;
            padding: 0 16px;
            flex-direction: column;

            section {
                height: 54px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                section {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                }
            }
        }
    }
}

button{
    border: none;
    outline: none;
    background-color: transparent;
}