nav {
    top: 0;
    width: 100%;
    height: 44px;
    z-index: 1000;
    display: flex;
    padding: 0 16px;
    position: fixed;
    flex-direction: row;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid rgba(142, 142, 142, 0.5);
    justify-content: space-between;

    >* {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    svg {
        padding: 8px;
        width: inherit;
        height: inherit;
    }
}