nav {
    top: 0;
    width: 100%;
    height: 44px;
    z-index: 1000;
    display: flex;
    padding: 0 16px;
    position: fixed;
    flex-direction: row;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid rgba(142, 142, 142, 0.5);

    button {
        margin: auto;
        padding: 4px;
        width: 10%;
        border: none;
        outline: none;
        cursor: pointer;
        display: inline;
        text-align: inherit;
        text-decoration: none;
        box-sizing: border-box;
        justify-content: center;
        touch-action: manipulation;
        background-color: transparent;
    }
}

mobile-story {}

mobile-suggetion {}

mobile-feed {}